/* Cambia esto en tu archivo de estilos */
@import "tailwindcss";

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
